:root {
  font-family: monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0.5rem;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  color: black;
  background-color: white;
  z-index: 1;
}

nav > ul {
  display: flex;
  list-style: none;
  gap: 2rem;
}

#home {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}

#home > #menu {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 15rem;
  width: 15rem;
  background-color: aqua;
  border: 0px;
  border-radius: 100%;
  cursor: pointer;
  text-align: center;
  transition: 300ms ease-in-out;
}

#home > #menu:hover {
  border: 10px solid red;
}

.tags {
  color: white;
}

#about {
  background-color: #eae;
  height: 100dvh;
}
