* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0.5rem;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  color: black;
  background-color: white;
}

nav > ul {
  display: flex;
  list-style: none;
  gap: 2rem;
}

#home {
  background-color: #000;
  height: 100dvh;
}

.tags {
  color: white;
}

#about {
  background-color: #eae;
  height: 100dvh;
}