@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-custom: "-apple-system", "BlinkMacSystemFont", '"Segoe UI"', "Roboto",
    "Inter", "Oxygen-Sans", "Ubuntu", "Cantarell", '"Helvetica Neue"', "Arial",
    "sans-serif";

  --color-background: #0d0126;
}

* {
  box-sizing: border-box;
}

@layer utilities {
  /* Ainda não há uma classe específica do tailwindcss que possa esconder a barra de rolagem */
  /* Oculta a barra de rolagem para Chrome, Safari e Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Oculta a barra de rolagem para Internet Explorer, Edge e Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* Internet Explorer e Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.text-title {
  font-size: 26px;
}

.pink-gradient {
  background-image: linear-gradient(
    180deg,
    hsl(326deg 85% 90%) 0%,
    hsl(326deg 84% 92%) 7%,
    hsl(326deg 84% 93%) 18%,
    hsl(327deg 84% 95%) 29%,
    hsl(327deg 84% 97%) 40%,
    hsl(327deg 83% 98%) 51%,
    hsl(0deg 0% 100%) 61%,
    hsl(327deg 83% 98%) 71%,
    hsl(327deg 84% 97%) 80%,
    hsl(327deg 84% 95%) 88%,
    hsl(326deg 84% 93%) 94%,
    hsl(326deg 84% 92%) 99%,
    hsl(326deg 85% 90%) 100%
  );
}

/* Estilo da barra de rolagem para WebKit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #6a5acd; /* Cor do polegar */
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background: transparent; /* Fundo transparente */
}

/* Estilo da barra de rolagem para Firefox */
html {
  scrollbar-color: #6a5acd #0d0126; /* Cor do polegar e trilha transparente */
  scrollbar-width: none;
}